:root {
    --primary-color: #007acc;
    --secondary-color: #00aaff;
    --tertiary-color: #2a2a2a;
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
    --accent-color: #00c4ff;
    /* --light-accent-color: #16e9be; */
    --light-background-color: #bfddf7;
    --light-background-color: #dcf2ff;
    --card-background-dark: #1f1f1f;
    --card-hover-dark: #333333;
    --border-radius: 10px;
    --transition-speed: 0.3s;
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --card-background-light: #f5f5f5;
    --card-hover-light: #cccccc;
    --background-hero-dark: linear-gradient(135deg, #1e1e1e, #343434);
    --background-hero-light: linear-gradient(135deg, #e0e0e0, #ffffff);
    --background-section-dark: #2a2a2a;
    --background-section-light: #f0f0f0;
    --modal-background-light: #ffffff;
    --modal-text-light: #000000;
    --modal-background-dark: #1f1f1f;
    --modal-text-dark: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    transition: background var(--transition-speed), color var(--transition-speed);
}

body.light-theme {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--card-background-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background var(--transition-speed);
}

body.light-theme header {
    background: var(--card-background-light);
}


header .logo {
    display: inline-block;
    margin: 0;
}

header .logo-image {
    width: 80px;
    height: auto;
    margin: 1rem 0; /* Ajuste el margen para que el logo tenga suficiente espacio */
}


header nav{
    margin: 0 auto;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    gap: 2rem;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color var(--transition-speed);
}

body.dark-theme header nav ul li a {
    color: var(--dark-text-color);
}

header nav ul li a:hover {
    color: var(--secondary-color);
}

header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width var(--transition-speed);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

header nav ul li a:hover::after {
    width: 100%;
}

header #theme-toggle {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

body.dark-theme header #theme-toggle {
    color: var(--dark-text-color);
}

#hero {
    position: relative;
    padding: 4rem 1rem;
    background: var(--background-hero-dark);
    text-align: center;
    transition: background var(--transition-speed);
}

body.light-theme #hero {
    background: var(--background-hero-light);
}

.hero-image {
    width: 150px;
    height: 150px;
    border: 4px solid var(--secondary-color);
    border-radius: 50%;
}

#hero h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
}

#hero p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

#hero .cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    color: var(--text-color-dark);
    text-decoration: none;
    font-weight: bold;
    transition: background var(--transition-speed);
}

body.light-theme #hero .cta {
    color: var(--text-color-light);
}

#hero .cta:hover {
    background: var(--primary-color);
}


/* Card Styles */
#titles {
    padding: 4rem 1rem;
    background: var(--background-section-dark);
    text-align: center;
    transition: background var(--transition-speed);
}

body.light-theme #titles {
    background: var(--background-section-light);
}

#titles h2 {
    margin-bottom: 2rem;
}

#titles .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center; /* Añade esta línea para centrar verticalmente */
    min-height: 50vh; /* Ajusta según sea necesario para una mejor alineación vertical */
}


.card {
    width: 250px;
    height: 200px;
    padding: 1.5rem;
    background: var(--card-background-dark);
    border: 1px solid #333;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed), background var(--transition-speed);
    cursor: pointer;
    align-content: center;
}

body.light-theme .card {
    background: var(--card-background-light);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: var(--card-hover-dark);
}

body.light-theme .card:hover {
    background: var(--card-hover-light);
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.card p {
    font-size: 1rem;
    color: #ccc;
}

body.light-theme .card p {
    color: #666;
}


/* Section Styles */
section {
    padding: 3rem 1rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos generales para las tarjetas */
.about-cards, .experience-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-card, .experience-card {
    width: 70%;
    background: var(--card-background-dark);
    color: var(--text-color-dark);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background var(--transition-speed), color var(--transition-speed);
    text-align: left;
}

body.light-theme .about-card, body.light-theme .experience-card {
    background: var(--card-background-light);
    color: var(--text-color-light);
}

figure {
    margin: 0 0 1rem 0;
}

figure img {
    width: 100%;
    border-radius: var(--border-radius);
    max-height: 400px;
    object-fit: cover;
}


.about-card h3, .experience-card h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.about-card p, .experience-card p {
    font-size: 1rem;
}


/* Slider Styles */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.project-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.project-slide {
    min-width: 100%;
    display: none;
    flex-direction: column; /* Cambiar a columna para que el contenido se apile verticalmente */
    justify-content: center;
    align-items: center;
}

.project-slide.active {
    display: flex; /* Mantener flex para que funcione la disposición en columna */
}

.project-slide h3, .project-slide p {
    text-align: center; /* Asegura que el texto esté centrado */
}


.project-img-container {
    width: 100%;
    max-height: 400px; /* Ajustar según la imagen más grande */
    height: 400px; /* Fijar la altura máxima */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para manejar las imágenes que sean más grandes */
    margin-bottom: 1rem; /* Añadir un margen inferior para el espacio entre la imagen y el título */
}

.project-img-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}


button.prev, button.next {
    position: absolute;
    top: 250px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Contact Form */
#contact {
    padding: 4rem 1rem;
    background: var(--background-color);
    text-align: center;
    transition: background var(--transition-speed);
}

body.dark-theme #contact {
    background: var(--dark-background);
}

#contact h2 {
    margin-bottom: 2rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: var(--card-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background var(--transition-speed);
}

body.dark-theme #contact-form {
    background: var(--dark-card-background);
}

#contact-form label {
    text-align: left;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    color: #000;
}

#contact-form button {
    padding: 0.75rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background var(--transition-speed);
    margin-top: 35px;
}

#contact-form button:hover {
    background: var(--primary-color);
}

.contact-info {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #9de8ff;
    color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    margin: 0.5rem 0;
}

#about p {
    white-space: pre-line; /* Permite respetar los saltos de línea en el HTML */
    text-align: justify;
}

/* Modal (Tarjeta flotante) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);

    color: var(--modal-text-light);
    transition: background-color 0.3s, color 0.3s;}

body.dark-theme .modal {
    background-color: var(--modal-background-dark);
    color: var(--modal-text-dark);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 5px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Overlay */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

body.modal-open {
    overflow: hidden;
}

/* Ensure the content is centered */
.modal-content h3, .modal-content p {
    text-align: center;
}

.project-img-container {
    width: 100%;
    height: 300px; /* Ajusta según el tamaño de la imagen más grande en mobile */
    max-height: 300px; /* Fijar la altura máxima */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para manejar las imágenes que sean más grandes */
    margin-bottom: 1rem; /* Añadir un margen inferior para el espacio entre la imagen y el título */
}

.project-img-container img {
    /* width: 100%; */
    height: auto;
    object-fit: cover;
}

button.prev, button.next {
    top: 40%;
    width: 30px;
    height: 30px;
}

.project-slide p{
    height: 75px;
}

/* .contact-info {
    width: 100%;
} */

.contact-info p {
    font-size: 1rem;
    color: black;
    line-height: 1rem;
}

section p {
    text-align: center;
    font-size: 1.2rem;
}

#contact {
    width: auto;
    margin: 0 auto;
    text-align: center;
    /* background-color: #f3e1d1; */
    /* border-radius: 15px; */
}

body.light-theme .contact-info{
    background-color: var(--light-background-color);
}

#appointments {
    width: auto;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background var(--transition-speed);
    background-color: var(--tertiary-color);
    border-radius: 15px;
}

body.light-theme #appointments {
    background-color: var(--light-accent-color);
}


/* Estilos para el botón de "Programar una cita" */
#google-calendar-scheduling {
    text-align: center;
    padding: 2rem 0;
}

#google-calendar-scheduling .cal-schedule-btn {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem 2rem; /* Incrementar el padding */
    font-size: 1.2rem; /* Incrementar el tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    transition: background var(--transition-speed), transform var(--transition-speed);
}

body.light-theme #google-calendar-scheduling .cal-schedule-btn {
    color: var(--text-color-light);
}

#google-calendar-scheduling .cal-schedule-btn:hover {
    background-color: var(--primary-color);
    transform: scale(1.05); /* Añadir un efecto de escala en hover */
}

body.light-theme #google-calendar-scheduling .cal-schedule-btn:hover {
    background-color: var(--primary-color);
    transform: scale(1.05); /* Añadir un efecto de escala en hover */
}


footer {
    padding: 1rem;
    background: var(--card-background);
    color: var(--text-color);
    text-align: center;
    transition: background var(--transition-speed);
}

body.dark-theme footer {
    background: var(--dark-card-background);
}




/* Responsive Styles */
@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky; /* Asegura que los elementos hijos se posicionen relativamente */
    }

    header .logo {
        margin-bottom: 0; /* Elimina el margen inferior del logo */
        padding: 0; /* Elimina el padding del logo */
    }

    header nav ul {
        display: none; /* Oculta los elementos de navegación en móvil */
    }

    header .logo-image {
        width: 50px; /* Ajusta el tamaño del logo */
        height: auto;
        margin: 0.5rem 0; /* Ajusta el margen para centrar el logo */
    }

    header #theme-toggle {
        display: block; /* Asegura que el botón de tema se muestre en móvil */
        position: absolute;
        top: 38px; /* Ajusta según sea necesario */
        right: 25px; /* Ajusta según sea necesario */
        background: none;
        border: none;
        color: var(--text-color);
        font-size: 1.5rem; /* Ajusta el tamaño del icono */
        cursor: pointer;
        z-index: 1001; /* Asegura que el botón esté por encima de otros elementos */
    }

    .fvYXKd{
        width: 80% !important;
    }


    .VfPpkd-fmcmS-yrriRe {
        width: 80% !important;
    }
    .hur54b {
        padding: 0 !important;
    }

    .about-card, .experience-card {
        width: 90%;
    }

    figure img {
        max-height: 250px;
    }

    
}

@media (min-width: 1024px) {
    body {
        font-size: 1.6rem;
    }

    section p {
        font-size: 1.8rem;
    }

    #hero p {
        font-size: 1.7rem;
    }

    main {
        width: 70%;
        margin: 0 auto;
    }

    #experience, #about {
        width: 60%;
        margin: 0 auto;
    }
    
    #experience .about-card, #about .about-card{
        width: 100%;
        margin: 0 auto;
    }

    .about-card, .experience-card {
        width: 100%;
    }

}

body.dark-theme #appointments {
    background: var(--dark-card-background);
}
